{% extends 'htmls/nav.html' %}
{% block extract_style %}
    <link rel="stylesheet" href="/static/assets/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/widget/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/widget/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/widget/component.css" />
    <style>
        .search_radio{
            margin: 0 auto;
            max-width: 600px;
        }
        .el-radio-group {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            font-size: 0;
        }
        .el-radio-button, .el-radio-button__inner {
            display: inline-block;
            position: relative;
            outline: 0;
            {#top: 1.1em;#}
        }
        .el-radio-button__orig-radio {
            opacity: 0;
            outline: 0;
            position: absolute;
            z-index: -1;
        }
        .el-radio-button:first-child .el-radio-button__inner {
            border-left: 1px solid #dcdfe6;
            {#border-radius: 4px 0 0 4px;#}
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
        }
        .el-radio-button__inner {
            line-height: 1;
            white-space: nowrap;
            background: #fff;
            border: 1px solid #dcdfe6;
            font-weight: 500;
            border-left: 0;
            color: #606266;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            margin: 0;
            cursor: pointer;
            -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
            transition: all .3s cubic-bezier(.645,.045,.355,1);
            padding: 12px 20px;
            font-size: 14px;
            border-radius: 0;
        }
        .el-radio-button__inner, .el-switch__core {
            -webkit-box-sizing: border-box;
            vertical-align: middle;
        }
        .el-radio-group [type="radio"]:checked + label{
            background: #1ABC9C;
        }
        td{
            max-width: 45px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="page-inner">
        <div class="search_radio">
            <section class="content" style="display: inline-block">
                <span class="input input--hoshi" style="top: -1em">
                    <input class="input__field input__field--hoshi" type="number" id="input-5" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
                        <span class="input__label-content input__label-content--hoshi" id="label">输入你的编号</span>
                    </label>
                </span>
            </section>
            <div role="radiogroup" class="el-radio-group">
                <label role="radio" class="el-radio-button">
                    <input title="" type="radio" name="radio" id="radio-1-0" class="el-radio-button__orig-radio" checked value="">
                    <label for="radio-1-0" class="el-radio-button__inner">无(默认)</label>
                </label>
                <label role="radio" class="el-radio-button">
                    <input title="" type="radio" name="radio" id="radio-1-1" class="el-radio-button__orig-radio" value="1,2,3,4,5,6,7,9">
                    <label for="radio-1-1" class="el-radio-button__inner">1-9周</label>
                </label>
                <label role="radio" class="el-radio-button">
                    <input title="" type="radio" name="radio" id="radio-1-2" tabindex="-1" class="el-radio-button__orig-radio" value="10,11,12,13,14,15,16,17,18">
                    <label for="radio-1-2" class="el-radio-button__inner">10-18周</label>
                </label>
            </div>
        </div>

        <div style="width: 100%; background: black; display: none;" id="loader">
            <div class="loader"></div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script type="text/javascript" src="/static/assets/js/widget/classie.js"></script>
	<script type="text/javascript">
        (function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    let rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
        })();
        let flag = true;
        document.onkeydown = function (evt) { //监听键盘敲击
            evt = evt ? evt : window.event;
            if (evt.keyCode === 13 && flag) { //按下Enter键
                let input = $("#input-5");
                if (input.is(":focus")) {
                    {#离焦#}
                    input.blur();
                    change_label_css(1);
                    {#完成之前禁止再度调用#}
                    flag = false;
                    $(".row").remove();
                    $('#loader').show();
                    let num = input.val();
                    console.log(num);
                    search(num, '')
                }
            }else if (evt.keyCode === 13 && input.is(":focus")){
                {#不予理睬#}
            }
        }
    </script>
    <script>
        $('input[type="radio"]').click(function(){
            let input = $("#input-5");
            {#离焦#}
            if(input.val() === ''){
                change_label_css(2)
            }
            else{
                change_label_css(1);
                {#完成之前禁止再度调用#}
                flag = false;
                $(".row").remove();
                search(input.val(), $(this).val())
            }
        });
        function search(num, week){
            {# week = '1,2,3,4' #}
            $('#loader').show();
            $.ajax({
                url: 'specific?num='+num+'&week='+week+'',
                type: 'GET',
                dataType: 'json',
                success: function(data){
                        if(data === false){
                            change_label_css(2);
                        }
                        for(let i=0; i< data.week_info.length; i++){
                            let current_week = data.current_week;
                            let a = data.week_info[i];
                            if(data[a]){
                                fill_data(data[a], a, current_week);
                            }else{
                                $('#loader').hide();
                                $('.col-md-6:last').show();
                                flag = true;
                                change_label_css(1)
                            }

                            {# {#}
                        }

                    {#console.log(data)#}
                },
            });
        }
        function product_table(week_name, week){
            {#生成两种外部框架#}
            let num = $('.col-md-6');
            if(num.length % 2 === 0){
                {#大架子#}
                let big = '<div class="row">' +
                    '                <div class="col-md-6" style="display: none">' +
                    '                    <div class="panel panel-default" >' +
                    '                        <div class="panel-heading">' +
                    '                        </div>' +
                    '                        <div class="panel-body">' +
                    '                            <div class="table-responsive">' +
                    '                                <table class="table">' +
                    '                                    <thead>' +
                    '                                        <tr>' +
                    '                                            <th colspan="2">时间\\星期</th>' +
                    '                                            <th>周一</th>' +
                    '                                            <th>周二</th>' +
                    '                                            <th>周三</th>' +
                    '                                            <th>周四</th>' +
                    '                                            <th>周五</th>' +
                    '                                            <th>周六</th>' +
                    '                                            <th>周日</th>' +
                    '                                        </tr>' +
                    '                                    </thead>' +
                    '                                    <tbody>' +
                    '                                    </tbody>' +
                    '                                </table>' +
                    '                            </div>' +
                    '                        </div>' +
                    '                    </div>' +
                    '                </div>' +
                    '            </div>';
                $('#page-inner').append(big)


            }else{
                {#小架子#}
                let small = '<div class="col-md-6" style="display: none">\n' +
                    '                    <div class="panel panel-default" >\n' +
                    '                        <div class="panel-heading">\n' +
                    '                        </div>\n' +
                    '                        <div class="panel-body">\n' +
                    '                            <div class="table-responsive">\n' +
                    '                                <table class="table">\n' +
                    '                                    <thead>\n' +
                    '                                        <tr>\n' +
                    '                                            <th colspan="2">时间\\星期</th>\n' +
                    '                                            <th>周一</th>\n' +
                    '                                            <th>周二</th>\n' +
                    '                                            <th>周三</th>\n' +
                    '                                            <th>周四</th>\n' +
                    '                                            <th>周五</th>\n' +
                    '                                            <th>周六</th>\n' +
                    '                                            <th>周日</th>\n' +
                    '                                        </tr>\n' +
                    '                                    </thead>\n' +
                    '                                    <tbody>\n' +
                    '                                    </tbody>\n' +
                    '                                </table>\n' +
                    '                            </div>\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                </div>';
                $('.row:last').append(small)
            }

            $('.col-md-6:last .panel-heading').append(week_name);
            let arr_jie = new Array(11);
            arr_jie = ['第一节', '第二节', '第三节', '第四节', '第五节', '第六节', '第七节', '第八节', '第九节', '第十节', '第十一节'];
            let arr_day = new Array(3);
            arr_day = [5, 9, 11];
            {#let arr_day_two = new Array(3);#}
            let arr_day_two = Array(5, 4, 2);
            let arr_day_name = new Array(3);
            arr_day_name = ['上<br>午', '下<br>午', '晚<br>上'];
            let day = '';
            for (let j = 0; j<arr_day.length; j++){
                for (let i = 0; i<arr_jie.length; i++){
                    if(i === arr_day[j] || i === 0){
                        if(i === arr_day[j]){
                            ++j;
                        }
                        day += '<tr class=""><td style="border:1px solid #ddd" rowspan='+(arr_day_two[j]+1)+'>'+arr_day_name[j]+'</td></tr>';
                    }
                    day += '<tr class="info">' +
                           '<td class="warning">'+arr_jie[i]+'</td>' +
                           '<td class="danger" id='+week+"_"+(i+1)+1+'></td>' +
                           '<td class="snow" id='+week+"_"+(i+1)+2+'></td>' +
                           '<td class="warning" id='+week+"_"+(i+1)+3+'></td>' +
                           '<td class="info" id='+week+"_"+(i+1)+4+'></td>' +
                           '<td class="warning" id='+week+"_"+(i+1)+5+'></td>' +
                           '<td class="danger" id='+week+"_"+(i+1)+6+'></td>' +
                           '<td class="snow" id='+week+"_"+(i+1)+7+'></td>' +
                       '</tr>';
                }

            }
            $('.col-md-6:last tbody').append(day)

        }
        {#参数为相应第几周的数据和第几周周次和当前周#}
        function fill_data(data, we, current_week) {
            {#传入参数为名字和第几周#}
            {#console.log(we+','+current_week);#}
            if(we === current_week)
                product_table('第'+we+'周(当前周)', we);
            else
                product_table('第'+we+'周', we);
            for (let i = 0; i < data.length; i++) {
                let sjd = data[i].SJD;
                let xqj = data[i].XQJ;
                let name = data[i].KCZWMC;
                let skcd = data[i].SKCD;
                let jsmc = data[i].JSMC;
                let dsz = data[i].DSZ;

                let id = we+'_'+sjd + '' + xqj;
                {#console.log(id);#}
                let obj = $('#' + id + '');
                {#let obj_class = obj.attr('class');#}
                obj.attr('title', jsmc);
                {# 根据上课长度remove掉下面的td标签 #}
                if(skcd === 13){
                {#当skcd为13的时候即表明为节假日,需要把整列移除,只保留当前的格子#}
                    for(let k=2; k<skcd; k++){$('#'+we+ "_" + k + xqj + '').remove();}
                    $('#'+we+ "_" + 1 + '').html(name);
                }else
                    for(let k=1; k<skcd; k++){$('#'+we+ "_" + (sjd + k) + xqj + '').remove();}
                obj.attr('rowspan', skcd);
                obj.css('cursor', 'pointer');
                obj.html(name);
            }
            $('#loader').hide();
            $('.col-md-6:last').show();
            {#回复初始状态#}
            flag = true;
            change_label_css(3)
        }

        function change_label_css(state){
            let label = $('#label');
            {#统一修改label的状态#}
            if(state === 1){
                label.css('color', '#6a7989');
                label.html('正在查找，请稍等')
            }else if(state === 2){
                label.css('color', 'red');
                label.html('请输入编号!')
            }else if(state === 3){
                label.css('color', '#6a7989');
                label.html('输入你的编号')
            }
        }
    {# 监听input的focus事件#}
    $('input').focus(function(){
        change_label_css(3)
    })

    </script>
{% endblock %}